.cv_container {
  min-height: 100vh;
  display: flex;
}

.left_side {
  width: clamp(270px, 40vw, 290px);
  background: var(--sec-accent);
}

.left_side .bottom_wrapper {
  padding: var(--sz-sm);
}

.right_side {
  flex: 1;
  padding: var(--sz-xxlg) var(--sz-sm) var(--sz-sm) var(--sz-xlg);
}

.icon {
  width: 17px;
  max-height: 17px;
}

input,
textarea,
p {
  font-size: 16px;
}

input {
  background: transparent;
  border-width: 0 0 1px 0;

  &:focus {
    outline: none;
  }
}

input {
  padding-left: 0;
}

.modifyFieldWrapper {
  display: flex;
  column-gap: var(--sz-xsm);
  opacity: 0;
  transition: 200ms;
}

.bottom_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--sz-xxlg);

  & > section:nth-child(n + 2) {
    padding-top: var(--sz-lg);
    border-top: 2px solid var(--black);
  }
}

.unselect_item_btn {
  background: var(--transparent-black-sm);
  border: none;
  box-shadow: var(--bx-shadow);
  color: var(--sec-accent);
  border-radius: var(--sz-xsm);
  display: flex;
  align-items: center;
  column-gap: var(--sz-xsm);
}

.summary_item,
.skill_item,
.name_item {
  display: flex;
  justify-content: space-between;
  column-gap: var(--sz-sm);
}
