section.contact {
  display: flex;
  flex-direction: column;
  row-gap: var(--sz-sm);
  padding-top: var(--sz-sm);
}

.unselect_contact_item_wrapper {
  display: flex;
  gap: var(--sz-sm);
}



.select_contact_item_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--sz-sm);
}
.contact_item {
  display: grid;
  grid-template-columns: max-content 80% max-content;
  column-gap: var(--sz-xsm);
  align-items: center;
}

.item:hover .modifyFieldWrapper {
  opacity: 1;
}
