.heading {
  display: flex;
  justify-content: space-between;
}



.value_wrapper {
  display: flex;
  column-gap: var(--sz-xsm);
  width: 70%;
}

input.value {
  width: 70%;
}

p.value {
  flex: 1;
}
