.summary {
  display: flex;
  flex-direction: column;
  row-gap: var(--sz-sm);
}

.summary_description {
  flex: 1;
  background: transparent;
  resize: none;

  &::-webkit-scrollbar {
    display: none;
  }
  &:focus {
    outline: none;
  }
}

textarea.summary_description {
  border: none;
  border-bottom: 1px solid var(--black);
}
